streamlit
pandas==2.2.2
geopandas==0.14.4
folium
streamlit-folium
shapely==2.0.6
fiona==1.9.6
pyproj==3.6.1
earthengine-api
google-auth
google-auth-oauthlib
google-auth-httplib2
numpy==1.26.4
requests
streamlit-authenticator>=0.2.3
rasterio==1.3.10
